@font-face {
	font-family: 'Blox2';
	font-style: normal;
	font-weight: 800;
	src: url('./fonts/Blox2.ttf'); /* IE9 Compat Modes */
	src: local('Blox2'), local('Blox2'),
		url('./fonts/Blox2.ttf') format('truetype'); /* Safari, Android, iOS */
}

* {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 800;
	color: whitesmoke;
}

body {
	overflow: hidden;
}

h1 {
	margin-left: 50px;
}

.App {
	text-align: center;
	height: 100vh;
	width: 100vw;
}

.map-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
	width: 100%;
}

.octo-container {
	position: relative;
	z-index: 1;
	max-width: 80%;
}

.image-map {
	width: 100%;
	height: auto;
}

.click-zone {
	position: absolute;
	font-family: 'Blox2', 'Courier New', Courier, monospace;
	font-size: 0.9rem;
	color: greenyellow;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.247);
}

.click-zone:hover {
	text-shadow: 5px 0px 10px greenyellow;
	cursor: pointer;
}

.click-zone.a {
	position: absolute;
	left: 30%;
	top: 59%;
	background-color: transparent;
	background-image: unset;
	border: solid 1px transparent;
}

.click-zone.b {
	left: 46%;
	top: 53%;
	background-color: transparent;
	background-image: unset;
	border: none;
}

.click-zone.c {
	left: 34%;
	top: 69%;
	background-color: transparent;
	background-image: unset;
	border: none;
}

.click-zone.d {
	left: 59%;
	top: 69%;
	background-color: transparent;
	background-image: unset;
	border: none;
}

.click-zone.e {
	left: 60%;
	top: 61%;
	background-color: transparent;
	background-image: unset;
	border: none;
}

.click-zone.f {
	left: 47%;
	top: 33%;
	background-color: transparent;
	background-image: unset;
	border: none;
}

.click-zone.g {
	left: 48%;
	top: 85%;
	background-color: transparent;
	background-image: unset;
	border: none;
}

.click-zone.h {
	left: 48%;
	top: 69%;
	background-color: transparent;
	background-image: unset;
	border: none;
	min-height: 30px;
}

.video {
	position: absolute;
	left: 0;
	top: 0;
	width: 640px;
	height: 480px;
	background: beige;
	border: 3px groove yellow;
}

.modal {
	/* display: none; Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 7% auto; /* 15% from the top and centered */
	padding: 40px;
	border: 1px solid #888;
	width: 60%; /* Could be more or less, depending on screen size */
	border-radius: 15px;
}

.modal-close {
	margin-top: 24px;
	width: 200px;
	height: 40px;
	border-radius: 8px;
	font-size: 20px;
	background: linear-gradient(
		0deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(93, 93, 102, 0.97) 53%,
		rgba(0, 6, 8, 1) 100%
	);
}
.modal-close:hover {
	background: linear-gradient(
		0deg,
		rgba(87, 87, 93, 1) 0%,
		rgba(9, 9, 11, 0.9794292717086834) 53%,
		rgba(77, 82, 84, 1) 100%
	);
}
.modal_text {
	color: black;
	font-size: 18px;
}
.modal-link {
	color: black;
}

.modal_logo {
	height: 180px;
}
