.body {
  margin: auto;
}

h1 {
  margin-left: 50px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.container {
  position: relative;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 640px;
  height: 480px;
  background: beige;
  border: 3px groove yellow;
}

.click-zone {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  border: 1px solid blue;
}

.click-zone.a {
  left: 200px;
  top: 100px;
  width: 50px;
  height: 50px;
}

.click-zone.b {
  left: 270px;
  top: 100px;
  width: 100px;
  height: 50px;
}

.click-zone.c {
  left: 200px;
  top: 170px;
  width: 170px;
  height: 50px;
}

.hexagon {
position: absolute;
width: 70px;
height: 40.41px;
background-color: #64C7CC;
margin: 20.21px 0;
left: 450px;
top: 200px;
}

.hexagon:before,
.hexagon:after {
content: "";
position: absolute;
width: 0;
border-left: 35px solid transparent;
border-right: 35px solid transparent;
}

.hexagon:before {
bottom: 100%;
border-bottom: 20.21px solid #64C7CC;
}

.hexagon:after {
top: 100%;
width: 0;
border-top: 20.21px solid #64C7CC;
}

.pavle {
height: 70px;
position: relative;
}

.container2 {
  margin-top: 300px; margin-left: 200px;
}
