@font-face {
  font-family: 'Blox2';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/Blox2.ttf'); /* IE9 Compat Modes */
  src: local('Blox2'), local('Blox2'),
       url('./fonts/Blox2.ttf') format('truetype'), /* Safari, Android, iOS */
}

* {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  color: whitesmoke;
  background-image: url("./img/background.jpg");
  background-size: cover;
  --metagame-left: 20px;
  --metagame-top: 120px;
  --metagame-height: 707px;
  --metagame-scale-ratio: 1;
  --metagame-width: 600px;
}

.body {
  margin: auto;

}

h1 {
  margin-left: 50px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  font-size: calc(10px + 1vmin);
}

.roomName {
  font-family: "Blox2", "Courier New", Courier, monospace;
  font-size: 1.2rem;
  color: greenyellow;
  /* font-size: 12px; */
  width: 100%;
  /* display: block; */
  padding: auto;
  /* margin-top: -20px; */
  background-color:rgba(0, 0, 255, 0);
  background-image: unset;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.247);
}

.roomName:hover {
  text-shadow: 5px 0px 10px greenyellow;
}

/* .map-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 640px;
    height: 300px;
    background: #ffffff46;
    border: 3px groove yellow;
} */

.map-container {
  /* opacity: 0.5; */
  
}

.image-map {
  position: absolute;
  left: var(--metagame-left);
  top: var(--metagame-top);
  height: calc(var(--metagame-scale-ratio) * var(--metagame-height));
  border: solid 2px transparent;
  background: unset;
  box-sizing: border-box;
  /* z-index: 0; */
}

.mapInstructions {
  position: absolute;
  left: calc(var(--metagame-left));
  top: calc(var(--metagame-top) - 7%);
  color: white;
  font-size: 1.3rem;
}

.defaultRoomName {
  position: absolute;
  left: calc(var(--metagame-left) + var(--metagame-width)*var(--metagame-scale-ratio) - 5%);
  top: calc(var(--metagame-top) + 5%);
  color: greenyellow;
}

/* .map-container:hover > * {
  opacity: 1;
} */


.container {
  position: relative;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 640px;
  height: 480px;
  background: beige;
  border: 3px groove yellow;
}

.click-zone {
  position: absolute;

  /* z-index: 2; */
  /* border: 1px solid grey; */
}
.click-zone:hover {
  text-shadow: 5px 0px 10px greenyellow;
  cursor: pointer;
  /* z-index: 2; */
  /* border: 1px solid grey; */
}

.click-zone.a {
  left: calc(var(--metagame-left) + 100px * var(--metagame-scale-ratio));
  top: calc(var(--metagame-top) + 480px);
  width: calc(100px * var(--metagame-scale-ratio));
  height: calc(120px * var(--metagame-scale-ratio));
  background-color: transparent;
  background-image: unset;
  border: solid 1px transparent;
  /* box-sizing: border-box; */
}

.click-zone.b {
  left: calc(var(--metagame-left) + 230px * var(--metagame-scale-ratio));
  top: calc(var(--metagame-top) + 350px * var(--metagame-scale-ratio));
  width: calc(140px* var(--metagame-scale-ratio));
  height: calc(160px* var(--metagame-scale-ratio));
  background-color: transparent;
  background-image: unset;
  /* border: solid 1px blue; */
  border: none;
}

.click-zone.c {
  left: calc(var(--metagame-left) + 125px * var(--metagame-scale-ratio));
  top: calc(var(--metagame-top) + 610px * var(--metagame-scale-ratio));
  width: calc(100px* var(--metagame-scale-ratio));
  height: calc(70px* var(--metagame-scale-ratio));
  background-color: transparent;
  background-image: unset;
  /* border: solid 1px blue; */
  border: none;
}
.click-zone.d {
  left: calc(var(--metagame-left) + 390px * var(--metagame-scale-ratio));
  top: calc(var(--metagame-top) + 580px * var(--metagame-scale-ratio));
  width: calc(100px* var(--metagame-scale-ratio));
  height: calc(100px* var(--metagame-scale-ratio));
  background-color: transparent;
  background-image: unset;
  /* border: solid 1px blue; */
  border: none;
}

.click-zone.e {
  left: calc(var(--metagame-left) + 365px * var(--metagame-scale-ratio));
  top: calc(var(--metagame-top) + 470px * var(--metagame-scale-ratio));
  width: calc(120px* var(--metagame-scale-ratio));
  height: calc(100px* var(--metagame-scale-ratio));
  background-color: transparent;
  background-image: unset;
  /* border: solid 1px blue; */
  border: none;
}

.click-zone.f {
  left: calc(var(--metagame-left) + 230px * var(--metagame-scale-ratio));
  top: calc(var(--metagame-top) + 295px * var(--metagame-scale-ratio));
  width: calc(140px* var(--metagame-scale-ratio));
  height: calc(25px* var(--metagame-scale-ratio));
  background-color: transparent;
  background-image: unset;
  border: none;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 7px;
}

.click-zone:hover {
  border: solid 0.5px greenyellow;;
}